
.main {
  width:100%;
  display:flex;
}

.header{
  width: 100%;
  display:flex;
}

.footer{
  text-align: center;
}

.logo  {
  margin: 10px 0px 0px 30px;
  width: 50%;
}

.logo img{
  width: 196px;
  height: 70px;
}

.instruction {
  width: 50%;
}

.leftPane {
  border-radius: 25px;
  height: 615px;
  margin: 25px;
  padding: 5px;
  width: 50%;
  border: 1px solid #ccc;
  text-align: center;
  background: rgb(237, 239, 242);
}

.rightPane {
  border-radius: 25px;
  height: 615px;
  margin: 25px;
  padding: 5px;
  width: 50%;
  border: 1px solid #ccc;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    border-radius: 10px;
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

div img {
  width: 100%;
}

.instruction {
  text-align: center;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.button {
  font-family: Roboto,Arial,sans-serif;
color: #000;
cursor: pointer;
padding: 0 30px;
display: inline-block;
margin: 10px 15px;
text-transform: uppercase;
line-height: 2em;
letter-spacing: 1.5px;
font-size: 1em;
outline: 0;
position: relative;
font-size: 14px;
border: 3px solid #cfcece;
background-color: #fff;
border-radius: 15px 15px 15px 15px;
-webkit-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
}
